.gestion {
  padding-top: 30vh;
  min-height: 100vh;
  width: 100vw;
  background-color: white;
  display: inline-block;
}

.gestion .first-section {
  margin-left: 5vw;
  margin-bottom: 20vh;
  font-family: Halyard;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gestion .first-section .title-category h2 {
  font-size: 3rem;
  text-decoration: underline;
  margin-bottom: 3vh;
}

.gestion .first-section .title-category .category-photo {
  padding-top: 2vh;
  padding-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gestion .first-section .title-category .category-photo h3 {
  font-size: 1.5rem;
}

.gestion .first-section .title-category .category-photo select {
  margin-left: 2vw;
  font-size: 1.5rem;
  border-right: none;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.gestion .first-section .title-category .category-photo button {
  background-color: transparent;
  padding: 0.7rem;
  border-left: none;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.gestion .first-section .title-category .category-photo button i {
  background-color: transparent;
  font-size: 1.2rem;
}

.gestion .first-section .title-category .iconAdd {
  text-align: center;
}

.gestion .first-section .title-category .fa-plus-square {
  font-size: 3rem;
}

.gestion .first-section .description-page-upload {
  margin-left: 20vw;
  width: 40vw;
}

.gestion .first-section .description-page-upload input {
  display: block;
  margin-bottom: 2vh;
  font-size: 1.5rem;
  padding-left: 0.3rem;
}

.gestion .first-section .description-page-upload textarea {
  display: block;
  margin-bottom: 2vh;
  padding-left: 0.3rem;
  font-size: 1.3rem;
}

.gestion .first-section .description-page-upload button {
  display: block;
  font-size: 1.3rem;
  padding: 0.5rem;
}

.tableau-container {
  margin-top: 10vh;
  background-color: white;
}

.tableau-container .gestion-tableau {
  background-color: white;
}

@media screen and (max-height: 890px) {
  .gestion {
    padding-top: 30vh;
    width: 100vw;
    background-color: white;
    display: inline-block;
  }
  .gestion .first-section {
    margin-left: 5vw;
    margin-bottom: 20vh;
    font-family: Halyard;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .gestion .first-section .title-category h2 {
    font-size: 3.5rem;
    text-decoration: underline;
    margin-bottom: 3vh;
  }
  .gestion .first-section .title-category .category-photo {
    padding-top: 2vh;
    padding-bottom: 5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .gestion .first-section .title-category .category-photo h3 {
    font-size: 1.5rem;
  }
  .gestion .first-section .title-category .category-photo select {
    margin-left: 2vw;
    font-size: 1.5rem;
    border-right: none;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
  }
  .gestion .first-section .title-category .category-photo button {
    background-color: transparent;
    padding: 0.7rem;
    border-left: none;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
  .gestion .first-section .title-category .category-photo button i {
    background-color: transparent;
    font-size: 1.2rem;
  }
  .gestion .first-section .description-page-upload input {
    display: block;
    margin-bottom: 2vh;
    font-size: 1.5rem;
    padding-left: 0.3rem;
  }
  .gestion .first-section .description-page-upload textarea {
    display: block;
    margin-bottom: 2vh;
    padding-left: 0.3rem;
    font-size: 1.3rem;
  }
  .gestion .first-section .description-page-upload button {
    display: block;
    font-size: 1.3rem;
    padding: 0.5rem;
  }
  .tableau-container {
    margin-top: 15vh;
    background-color: white;
  }
  .tableau-container .gestion-tableau {
    padding-top: 20vh;
    background-color: white;
  }
}

@media screen and (max-width: 1580px) {
  .title-category {
    width: 40vw;
  }
  .description-page-upload {
    margin-left: 0vw !important;
  }
}

@media screen and (max-width: 1350px) {
  .title-category {
    width: 40vw;
  }
  .description-page-upload {
    margin-left: 10vw !important;
  }
  .description-page-upload textarea {
    font-size: 1rem !important;
  }
}
/*# sourceMappingURL=Gestion.css.map */