#Zone_Widget{
    margin-top: 5vh;
    margin-bottom: 5vh;
    button{
        display: none;
    }
}
.relai-container{
    margin-left: 15px;
    display: flex;
    align-items: center;
    label{
        width: 50%;
        min-width: 70px;
        padding: 11px 0;
        color: black;
        overflow: hidden;
        font-family: Halyard;
        font-size: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    input{
        width: 100%;
        float:right;
        font-size: 16px;
        padding: 11px 15px 11px 8px;
        color: black;
        background-color: transparent;
        -webkit-animation: 1ms void-animation-out;
        animation: 1ms void-animation-out;
    }
}

