.modal-paiement-container{
    position: absolute;
    top: 0;
    display: none;
    z-index: 500; 
    width: 100vw;
    min-height: 130vh;
    background-color:rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    .paiement-container{
        position: absolute;
        margin-left: 25vw;
        margin-top: 3.5vh;
        width: 50vw;
        height: 85vh;
        .first-block-paiement{
            width: 100%;
            height: auto;
            background-color: white;
            padding-bottom: 3vh;
            .title-recap{
              justify-content: center;
                padding-top: 1vh;
                display: flex;
                align-items: center;
                h2{
                    font-family: Halyard;
                    font-size: 1.9rem;
                }
                .close-modal{
                  position: absolute;
                  right: 5%;
                  font-size: 1.5rem;
                }
            }
            .paiement-recap{
                .totalPrice{
                    margin-top: 2vh;
                    text-align: right;
                    margin-right: 6vw;
                    font-family: Halyard;
                }
                ul{
                    
                    margin-left:5vw;
                    padding-top: 0.1vh;
                    width: 40vw;
                    li{
                        list-style: none;
                        font-family: Halyard;
                        .nom-categorie-panier{
                         align-items: center;
                         justify-content: space-around;
                         margin-top: 3vh;
                         display: flex;
                         color: gray;
                         font-size: 0.9rem;
                         border-bottom: 1px solid lightgray;
                         h4{
                             margin-bottom: 1vh;
                             font-weight: 100;
                         }
                         .nom-item-panier{
                             margin-right: 15vw;
                             .fa-times{
                                 margin-right: 2vw;
                             }
                         }
                        }
                        .liste-item-panier{
                             align-items: center;
                             display: flex;
                             font-family: Halyard;
                             margin-top: 0.5vh;
                             font-size: 1rem;
                             border-bottom: 1px solid lightgray;
                             padding-bottom: 1vh;
                             .title-item-panier{
                                 display: flex;
                                 width: 30vw;
                                 font-size: 1rem;
                                 align-items: center;
                                 span{
                                     margin-right: 1.7vw;
                                     opacity: 0.5;
                                     color: gray;
                                     transform: scale(1,0.8);
                                     font-family: Arial, Helvetica, sans-serif;
                                 }
                             }
                             .size-item-panier{
                                 width:19vw ;
                                 margin-left: 4vw;
                                 text-align: center;
                             }
                             .qte-item-panier{
                                 margin-left: 1vw;
                                 width:5vw ;
                             }
                             .price-item-panier{
                                 padding-left: 1vw;
                                 text-align: center;
                                 width: 10vw;
                             }
                        }
                    }
                    
                }
            }
        }
        
        .paiement-information{
            background-color: white;
            height: auto;
            width: 50vw;
            margin-top: 5vh;
            padding: 3vh;
            align-items: center;
            span{
              margin-left: 15px;
              font-weight: 600;
              margin-right: 4.25vw;
            }
            select{
              font-size: 1.2rem;
            }
            
            h3{
              text-align: center;
              font-size:1.9rem;
            }
            h4{
              text-align: center;
              margin-top: 2vh;
              font-weight: 400;
              
            }
            .result-message {
                line-height: 22px;
                font-size: 16px;
              }
              .result-message a {
                color: rgb(89, 111, 214);
                font-weight: 600;
                text-decoration: none;
              }
              .hidden {
                display: none;
              }
              #card-error {
                color: rgb(105, 115, 134);
                font-size: 16px;
                line-height: 20px;
                margin-top: 12px;
                text-align: center;
              }
              #card-element {
                border-radius: 4px 4px 0 0;
                padding: 12px;
                border: 1px solid rgba(50, 50, 93, 0.1);
                max-height: 44px;
                width: 100%;
                background: white;
                box-sizing: border-box;
              }
              #payment-request-button {
                margin-bottom: 32px;
              }
              /* Buttons and links */
              button {
                background-color: black;
                font-family: Arial, sans-serif;
                color: #ffffff;
                border-radius: 0 0 4px 4px;
                border: 0;
                padding: 12px 16px;
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
                display: block;
                transition: all 0.2s ease;
                box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
                width: 100%;
              }
              button:hover {
                filter: contrast(115%);
              }
              button:disabled {
                opacity: 0.5;
                cursor: default;
              }
              /* spinner/processing state, errors */
              .spinner,
              .spinner:before,
              .spinner:after {
                border-radius: 50%;
              }
              .spinner {
                color: #ffffff;
                font-size: 22px;
                text-indent: -99999px;
                margin: 0px auto;
                position: relative;
                width: 20px;
                height: 20px;
                box-shadow: inset 0 0 0 2px;
                -webkit-transform: translateZ(0);
                -ms-transform: translateZ(0);
                transform: translateZ(0);
              }
              .spinner:before,
              .spinner:after {
                position: absolute;
                content: "";
              }
              .spinner:before {
                width: 10.4px;
                height: 20.4px;
                background: #5469d4;
                border-radius: 20.4px 0 0 20.4px;
                top: -0.2px;
                left: -0.2px;
                -webkit-transform-origin: 10.4px 10.2px;
                transform-origin: 10.4px 10.2px;
                -webkit-animation: loading 2s infinite ease 1.5s;
                animation: loading 2s infinite ease 1.5s;
              }
              .spinner:after {
                width: 10.4px;
                height: 10.2px;
                background: #5469d4;
                border-radius: 0 10.2px 10.2px 0;
                top: -0.1px;
                left: 10.2px;
                -webkit-transform-origin: 0px 10.2px;
                transform-origin: 0px 10.2px;
                -webkit-animation: loading 2s infinite ease;
                animation: loading 2s infinite ease;
              }
              @keyframes loading {
                0% {
                  -webkit-transform: rotate(0deg);
                  transform: rotate(0deg);
                }
                100% {
                  -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
                }
              }
              @media only screen and (max-width: 600px) {
                form {
                  width: 80vw;
                }
              }
        }
    }
}
@media screen and (max-width: 890px) {
  .modal-paiement-container{
    position: absolute;
    top: 0;
    display: none;
    background-color: white;
    z-index: 3; 
    width: 100vw;
    min-height: 130vh;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    .paiement-container{
        background-color: white;
        position: absolute;
        margin-left: 0vw;
        margin-top: 20vh;
        width: 100vw;
        height: max-content;
        .first-block-paiement{
            width: 100%;
            height: auto;
            background-color: white;
            padding-bottom: 3vh;
            .title-recap{
                text-align: center;
                padding-top: 1vh;
                h2{
                    font-family: Halyard;
                    font-size: 1.9rem;
                }
            }
            .paiement-recap{
                .totalPrice{
                    margin-top: 2vh;
                    text-align: right;
                    margin-right: 1vw;
                    font-family: Halyard;
                }
                ul{
                    margin-left:5vw;
                    padding-top: 3vh;
                    width: 90vw;
                    li{
                        list-style: none;
                        font-family: Halyard;
                        .nom-categorie-panier{
                         align-items: center;
                         justify-content: space-around;
                         margin-top: 3vh;
                         display: flex;
                         color: gray;
                         font-size: 0.9rem;
                         border-bottom: 1px solid lightgray;
                         h4{
                             margin-bottom: 2vh;
                             font-weight: 100;
                         }
                         .nom-item-panier{
                             margin-right: 15vw;
                             .fa-times{
                                 margin-right: 2vw;
                             }
                         }
                        }
                        .liste-item-panier{
                             align-items: center;
                             display: flex;
                             font-family: Halyard;
                             margin-top: 0.5vh;
                             font-size: 1rem;
                             border-bottom: 1px solid lightgray;
                             padding-bottom: 1vh;
                             .title-item-panier{
                                 display: flex;
                                 width: 37vw;
                                 font-size: 1rem;
                                 align-items: center;
                                 span{
                                     margin-right: 1.7vw;
                                     opacity: 0.5;
                                     color: gray;
                                     transform: scale(1,0.8);
                                     font-family: Arial, Helvetica, sans-serif;
                                 }
                             }
                             .size-item-panier{
                                 width:28vw ;
                                 margin-left: -1vw;
                                 text-align: center;
                             }
                             .qte-item-panier{
                                 margin-left: 2vw;
                                 width:5vw ;
                             }
                             .price-item-panier{
                                 padding-left: 6vw;
                                 text-align: center;
                                 width: 21vw;
                             }
                        }
                    }
                    
                }
                .totalPrice{
                  font-size: 1rem;
                  margin-right: 6vw;
                }
            }
        }
        
        .paiement-information{
            background-color: white;
            height: auto;
            width: 120vw;
            margin-left: -10vw;
            margin-top: 5vh;
            padding: 3vh;
            align-items: center;
            span{
              margin-left: 15px;
              font-weight: 600;
            }
            select{
              font-size: 0.8rem;
            }
            h3{
              text-align: center;
              font-size:1.9rem;
            }
            h4{
              width: 90%;
              text-align: center;
              font-size: 0.8rem;
              margin-left: 4vw;
              
            }
            .result-message {
                line-height: 22px;
                font-size: 16px;
              }
              .result-message a {
                color: rgb(89, 111, 214);
                font-weight: 600;
                text-decoration: none;
              }
              .hidden {
                display: none;
              }
              #card-error {
                color: rgb(105, 115, 134);
                font-size: 16px;
                line-height: 20px;
                margin-top: 12px;
                text-align: center;
              }
              #card-element {
                border-radius: 4px 4px 0 0;
                padding: 12px;
                border: 1px solid rgba(50, 50, 93, 0.1);
                max-height: 44px;
                width: 100%;
                background: white;
                box-sizing: border-box;
              }
              #payment-request-button {
                margin-bottom: 32px;
              }
              /* Buttons and links */
              button {
                background-color: black;
                font-family: Arial, sans-serif;
                color: #ffffff;
                border-radius: 0 0 4px 4px;
                border: 0;
                padding: 12px 16px;
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
                display: block;
                transition: all 0.2s ease;
                box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
                width: 100%;
              }
              button:hover {
                filter: contrast(115%);
              }
              button:disabled {
                opacity: 0.5;
                cursor: default;
              }
              /* spinner/processing state, errors */
              .spinner,
              .spinner:before,
              .spinner:after {
                border-radius: 50%;
              }
              .spinner {
                color: #ffffff;
                font-size: 22px;
                text-indent: -99999px;
                margin: 0px auto;
                position: relative;
                width: 20px;
                height: 20px;
                box-shadow: inset 0 0 0 2px;
                -webkit-transform: translateZ(0);
                -ms-transform: translateZ(0);
                transform: translateZ(0);
              }
              .spinner:before,
              .spinner:after {
                position: absolute;
                content: "";
              }
              .spinner:before {
                width: 10.4px;
                height: 20.4px;
                background: #5469d4;
                border-radius: 20.4px 0 0 20.4px;
                top: -0.2px;
                left: -0.2px;
                -webkit-transform-origin: 10.4px 10.2px;
                transform-origin: 10.4px 10.2px;
                -webkit-animation: loading 2s infinite ease 1.5s;
                animation: loading 2s infinite ease 1.5s;
              }
              .spinner:after {
                width: 10.4px;
                height: 10.2px;
                background: #5469d4;
                border-radius: 0 10.2px 10.2px 0;
                top: -0.1px;
                left: 10.2px;
                -webkit-transform-origin: 0px 10.2px;
                transform-origin: 0px 10.2px;
                -webkit-animation: loading 2s infinite ease;
                animation: loading 2s infinite ease;
              }
              @keyframes loading {
                0% {
                  -webkit-transform: rotate(0deg);
                  transform: rotate(0deg);
                }
                100% {
                  -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
                }
              }
              @media only screen and (max-width: 600px) {
                form {
                  width: 80vw;
                }
              }
        }
    }
}
}