input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}
.panier-container{
    width: 100vw;
    min-height: 65vh;
    padding-top: 20vh;
    background-color: white;
    .liste-panier{
        width: 90vw;
        h3{
            font-size: 2rem;
            transform: translateX(5%);
            text-align: left;
            font-family: Grotesque;
        }
        .liste-item{
           ul{
               .empty-cart{
                   width: 30vw;
                   margin-left: 35vw;
                   display: block;
                   margin-top: 20vh;
                   font-family: Halyard;
                   text-align: center;
                   font-size: 1.8rem;
                   h2{
                       width: 100%;
                       i{
                           color: black;
                           margin-left: 0.5vw;
                           &:hover{
                               color: gray;
                           }
                       }
                   }
               }
               li{
                   transform: translateX(5%);
                   list-style: none;
                   font-family: Halyard;
                   .nom-categorie-panier{
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 3vh;
                    display: flex;
                    color: gray;
                    font-size: 0.9rem;
                    border-bottom: 1px solid lightgray;
                    h4{
                        margin-bottom: 1vh;
                        font-weight: 100;
                    }
                    .nom-item-panier{
                        margin-right: 15vw;
                        .fa-times{
                            margin-right: 2vw;
                        }
                    }
                    .image-item-panier{
                        margin-right: 10vw;
                    }
                   }
                   .liste-item-panier{
                        align-items: center;
                        display: flex;
                        font-family: Halyard;
                        margin-top: 3vh;
                        font-size: 2rem;
                        border-bottom: 1px solid lightgray;
                        padding-bottom: 2vh;
                        .title-item-panier{
                            display: flex;
                            width: 30vw;
                            font-size: 2rem;
                            align-items: center;
                            span{
                                margin-right: 1.7vw;
                                opacity: 0.5;
                                color: gray;
                                transform: scale(1,0.8);
                                font-family: Arial, Helvetica, sans-serif;
                            }
                        }
                        .panier-image-container{
                            width: 22vw;
                            margin-right: 5vw;
                        }
                        .size-item-panier{
                            width:17vw ;
                        }
                        .qte-item-panier{
                            width:11vw ;
                            input{
                                font-size: 1.5rem;
                                width:2.5rem;
                                padding-left: 0.5rem;
                                border: 1px solid gray;
                            }
                        }
                        .price-item-panier{
                            display: flex;
                        }
                   }
               }
               
           }
           .panier-image{
               height: 150px;
               width: 250px;
           }
        }
    }
    .validation-paiement{
        display: block;
        width: 17vw;
        margin-right: 5vw;
        float: right;
        .totalPrice{
            margin-top: 5vh;
            font-size: 2.5rem;
            margin-bottom: 3vh;
            float: right;
        }
        .btn-paiement{
            margin-top: 1vh;
            color: white;
            font-family: Halyard;
            background-color: black;
            border: none;
            padding: 1.1vw;
            font-size: 1.3rem;
            float: right;
            
        }
        h3{
            font-size: 2rem;
            transform: translateX(5%);
            text-align: left;
            font-family: Grotesque;
        }

    }
}
@media screen and (max-width: 890px) {
    .panier-container{
        position: absolute;
        z-index: -10;
        .liste-panier{
            width: 92vw;
            .totalPrice{
                font-size: 1.5rem;
            }
            h3{
                text-align: center;
            }
            .liste-item{
               ul{
                .empty-cart{
                    width: 90vw;
                    margin-left: 5vw;
                    display: block;
                    margin-top: 20vh;
                    font-family: Halyard;
                    text-align: center;
                    font-size: 1.1rem;
                    h2{
                        width: 100%;
                        i{
                            color: black;
                            margin-left: 0.5vw;
                            &:hover{
                                color: gray;
                            }
                        }
                    }
                }
                   li{
                       .nom-categorie-panier{
                        
                        h4{
                            
                        }
                        .nom-item-panier{
                            .fa-times{
                            }
                        }
                        .image-item-panier{
                        }
                       }
                       .liste-item-panier{
                            .title-item-panier{
                                width: 29vw;
                                font-size: 0.9rem;
                                span{
                                margin-right: 3.5vw;
                                margin-left: -3vw;
                                }
                            }
                            .panier-image-container{
                                
                            }
                            .size-item-panier{
                                font-size: 0.9rem;
                                text-align: center;
                            }
                            .qte-item-panier{
                                text-align: center;
                                font-size: 0.9rem;
                                width: 7vw;
                                input{
                               
                                }
                            }
                            .price-item-panier{
                                font-size: 0.9rem;
                                margin-left: 1.5vw;
                            }
                       }
                   }
                   
               }
               .panier-image{
                height:50px;
                width: 80px;
                margin-left: 2vw;
               }
            }
        }
        .validation-paiement{
            display: block;
            width: 50vw;
            margin-right: 5vw;
            float: right;
            .totalPrice{
                margin-top: 5vh;
                font-size: 1.3rem;
                margin-bottom: 3vh;
                float: right;
            }
            .btn-paiement{
                margin-top: 1vh;
                color: white;
                font-family: Halyard;
                background-color: black;
                border: none;
                padding: 1.5vw;
                font-size: 1.1rem;
                float: right;
                
            }
            h3{
                font-size: 2rem;
                transform: translateX(5%);
                text-align: left;
                font-family: Grotesque;
            }
    
        }
    }


}