input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.panier-container {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  background-color: white;
}

.panier-container .liste-panier {
  width: 90vw;
}

.panier-container .liste-panier .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5vw;
}

.panier-container .liste-panier .title h3 {
  font-size: 2rem;
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
  text-align: left;
  font-family: Grotesque;
  margin-right: 3rem;
}

.panier-container .liste-panier .title button {
  background: white;
  border: 2px solid black;
  padding: 0.5rem;
  font-size: 1.5rem;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.panier-container .liste-panier .title button:hover {
  background: black;
  color: white;
}

.panier-container .liste-panier .liste-item ul .empty-cart {
  width: 30vw;
  margin-left: 35vw;
  display: block;
  margin-top: 20vh;
  font-family: Halyard;
  text-align: center;
  font-size: 1.8rem;
}

.panier-container .liste-panier .liste-item ul .empty-cart h2 {
  width: 100%;
}

.panier-container .liste-panier .liste-item ul .empty-cart h2 i {
  color: black;
  margin-left: 0.5vw;
}

.panier-container .liste-panier .liste-item ul .empty-cart h2 i:hover {
  color: gray;
}

.panier-container .liste-panier .liste-item ul li {
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
  list-style: none;
  font-family: Halyard;
}

.panier-container .liste-panier .liste-item ul li .nom-categorie-panier {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: gray;
  font-size: 0.9rem;
  border-bottom: 1px solid lightgray;
}

.panier-container .liste-panier .liste-item ul li .nom-categorie-panier h4 {
  margin-bottom: 1vh;
  font-weight: 100;
}

.panier-container .liste-panier .liste-item ul li .nom-categorie-panier .nom-item-panier {
  margin-right: 15vw;
}

.panier-container .liste-panier .liste-item ul li .nom-categorie-panier .nom-item-panier .fa-times {
  margin-right: 2vw;
}

.panier-container .liste-panier .liste-item ul li .nom-categorie-panier .image-item-panier {
  margin-right: 10vw;
}

.panier-container .liste-panier .liste-item ul li .liste-item-panier {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Halyard;
  margin-top: 3vh;
  font-size: 2rem;
  border-bottom: 1px solid lightgray;
  padding-bottom: 2vh;
}

.panier-container .liste-panier .liste-item ul li .liste-item-panier .title-item-panier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30vw;
  font-size: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panier-container .liste-panier .liste-item ul li .liste-item-panier .title-item-panier span {
  margin-right: 1.7vw;
  opacity: 0.5;
  color: gray;
  -webkit-transform: scale(1, 0.8);
          transform: scale(1, 0.8);
  font-family: Arial, Helvetica, sans-serif;
}

.panier-container .liste-panier .liste-item ul li .liste-item-panier .panier-image-container {
  width: 22vw;
  margin-right: 5vw;
}

.panier-container .liste-panier .liste-item ul li .liste-item-panier .panier-image-container .panier-image {
  -o-object-fit: cover;
     object-fit: cover;
}

.panier-container .liste-panier .liste-item ul li .liste-item-panier .size-item-panier {
  width: 17vw;
}

.panier-container .liste-panier .liste-item ul li .liste-item-panier .qte-item-panier {
  width: 11vw;
}

.panier-container .liste-panier .liste-item ul li .liste-item-panier .qte-item-panier input {
  font-size: 1.5rem;
  width: 2.5rem;
  padding-left: 0.5rem;
  border: 1px solid gray;
}

.panier-container .liste-panier .liste-item ul li .liste-item-panier .price-item-panier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.panier-container .liste-panier .liste-item .panier-image {
  height: 150px;
  width: 250px;
}

.panier-container .validation-paiement {
  display: block;
  width: 17vw;
  margin-right: 5vw;
  float: right;
}

.panier-container .validation-paiement .totalPrice {
  margin-top: 5vh;
  font-size: 2.5rem;
  margin-bottom: 3vh;
  float: right;
}

.panier-container .validation-paiement .btn-paiement {
  margin-top: 1vh;
  color: white;
  font-family: Halyard;
  background-color: black;
  border: none;
  padding: 1.1vw;
  font-size: 1.3rem;
  float: right;
}

.panier-container .validation-paiement h3 {
  font-size: 2rem;
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
  text-align: left;
  font-family: Grotesque;
}

@media screen and (max-width: 890px) {
  .panier-container {
    position: absolute;
    z-index: -10;
  }
  .panier-container .liste-panier {
    width: 92vw;
  }
  .panier-container .liste-panier .totalPrice {
    font-size: 1.5rem;
  }
  .panier-container .liste-panier h3 {
    text-align: center;
  }
  .panier-container .liste-panier .liste-item ul .empty-cart {
    width: 90vw;
    margin-left: 5vw;
    display: block;
    margin-top: 20vh;
    font-family: Halyard;
    text-align: center;
    font-size: 1.1rem;
  }
  .panier-container .liste-panier .liste-item ul .empty-cart h2 {
    width: 100%;
  }
  .panier-container .liste-panier .liste-item ul .empty-cart h2 i {
    color: black;
    margin-left: 0.5vw;
  }
  .panier-container .liste-panier .liste-item ul .empty-cart h2 i:hover {
    color: gray;
  }
  .panier-container .liste-panier .liste-item ul li .liste-item-panier .title-item-panier {
    width: 29vw;
    font-size: 0.9rem;
  }
  .panier-container .liste-panier .liste-item ul li .liste-item-panier .title-item-panier span {
    margin-right: 3.5vw;
    margin-left: -3vw;
  }
  .panier-container .liste-panier .liste-item ul li .liste-item-panier .size-item-panier {
    font-size: 0.9rem;
    text-align: center;
  }
  .panier-container .liste-panier .liste-item ul li .liste-item-panier .qte-item-panier {
    text-align: center;
    font-size: 0.9rem;
    width: 7vw;
  }
  .panier-container .liste-panier .liste-item ul li .liste-item-panier .price-item-panier {
    font-size: 0.9rem;
    margin-left: 1.5vw;
  }
  .panier-container .liste-panier .liste-item .panier-image {
    height: 50px;
    width: 80px;
    margin-left: 2vw;
  }
  .panier-container .validation-paiement {
    display: block;
    width: 50vw;
    margin-right: 5vw;
    float: right;
  }
  .panier-container .validation-paiement .totalPrice {
    margin-top: 5vh;
    font-size: 1.3rem;
    margin-bottom: 3vh;
    float: right;
  }
  .panier-container .validation-paiement .btn-paiement {
    margin-top: 1vh;
    color: white;
    font-family: Halyard;
    background-color: black;
    border: none;
    padding: 1.5vw;
    font-size: 1.1rem;
    float: right;
  }
  .panier-container .validation-paiement h3 {
    font-size: 2rem;
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
    text-align: left;
    font-family: Grotesque;
  }
}
/*# sourceMappingURL=Panier.css.map */