$gray: #38383B;
$darker: hsl(43,0%,9%);
$white: #FFFFFF;

  @keyframes dongle {
    0% {
      transform: translate(0px, 0px);
    }
    10% {
      transform: translate(-10px, 0px);
    }
    20% {
      transform: translate(10px, 0px);
    }
    30% {
      transform: translate(-10px, 0px);
    }
    40% {
      transform: translate(10px, 0px);
    }
    50% {
      transform: translate(-10px, 0px);
    }
    60% {
      transform: translate(10px, 0px);
    }
    70% {
      transform: translate(-10px, 0px);
    }
    80% {
      transform: translate(10px, 0px);
    }
    90% {
      transform: translate(-10px, 0px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }

.contact{
    height: 100vh;
    width: 100vw;
    background-color: $white;
    
    .form-content{
        left: 30%;
        position: relative;
        width: 40%;
        h2{
        padding-top: 25vh;
        color: black;
        font-family: Grotesque;
        font-size: 1.5rem;
        margin-bottom: 3vh;
    }
        .email-content{
            display: flex;
            label{
                margin-top: 0.5vh;
                opacity: 0;
                position: absolute;
                font-family: Halyard;
                color: black;
                font-size: 1.1rem;
                right: 0.5vw;
            }
        }
        input{
            background-color: 	rgba(211,211,211, 0.15);
            font-size: 1.5rem;
            font-family: Halyard;
            height: 3rem;
            align-items: center;
            border: 0.5px solid gray;
            width: 100%;
            margin-bottom: 3.5vh;
            padding-left: 0.5vw;
            }
        textarea{
            background-color:rgba(211,211,211, 0.15);
            font-size: 1.5rem;
            padding-left: 0.5vw;
            font-family: Halyard;
            margin-bottom: 3.5vh;
            width: 100%;
            height: 12vh;
        }
    }
    button{
      padding: 1.5rem;
      margin-bottom: 5vh;
      font-family: Halyard;
      font-size: 1.3rem;
      background-color: black;
      color: white;
      border: none;
      transition: 0.3s linear;
      &:hover{
          background-color: white;
          color: black;
          border: 3px solid black;
      }
  }
    .form-message{
        opacity: 0;
        width: 25vw;
        position: relative;
        left: 37.5%;
        margin-top: 2vh;
        padding: 0.5rem;
        font-size: 1.5rem;
        color: white;
        background-color: black;
        font-family: Halyard;
    }
}
@media screen and (max-width: 890px) {
  .contact{
    position: absolute;
    z-index: -10;
    .form-content{
      width: 80vw;
      left: 10%;
        h2{
          font-size: 1.5rem;
          padding-top: 18vh;
    }
    }
    button{
      padding: 1rem;
      font-size: 1.5rem;
  }
}
}
