.modal{
    transition: 0.5s linear;
    position: absolute;
    top: 0;
    display: none;
    z-index: 500; 
    width: 100vw;
    height: 100vh;
    background-color:rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    padding-right: 15px;

    
    .modal-container{
        height: auto;
        width: 60vw;
        background-color: rgb(255,255,255);
        .close-modal{
            position: relative;
            float: right;
            right: 1vw;
            top: 0.7vh;
            font-size: 2.5rem;
        }
        .title-modal{
            margin-top: 2vh;
            text-align: center;
            padding-left: 1vw;
            font-size: 1.5rem;
            font-family: Halyard;
            font-weight: 700;
            text-decoration: underline;
        }
        .modal-body{
            display: flex;
            justify-content: center;
            p{
                font-size: 1.2rem;
            }
            h3{
                margin-bottom: 3vh;
                font-family: Halyard;
                font-size: 2rem;
                text-align: center;
            }
            input{
                width: 80%;
                height: 3vh;
                margin-bottom: 3vh;
            }
            textarea{
                width: 80%;
            }
            span{
                font-family: Halyard;
                font-size: 1.2rem;
                margin-right: 1.5vw;
            }
            button{
                transition: 0.5s linear;
                color: white;
                background-color: black;
                font-family: Halyard;
                font-size: 1.8rem;
                padding: 1rem;
                border: none;
                &:hover{
                    color: black;
                    background-color: gray;
                }
            }
            .informationscontainer{
                text-align: center;
                margin-top: 10vh;
                width: 50%;
                .modal-submit{
                    text-align: center;
                    margin-bottom: 5vh;
                }
            }
            .pricecontainer{
                text-align: center;
                margin-top: 10vh;
                width: 50%;
                input{
                    width: 20%;
                }
                .previewImage{
                    img{
                        height: 300px;
                        width: 500px;
                        object-fit: cover;
                        margin-bottom: 5vh;
                    }
                }
            }
           
    }
}
}