.modal {
  position: absolute;
  top: 0vh;
  display: none;
  z-index: 500;
  width: 100vw;
  height: 100vh;
}

.modal .modal-container {
  background-color: white;
  -webkit-box-shadow: 0px 0px 21px 4px rgba(0, 0, 0, 0.81);
          box-shadow: 0px 0px 21px 4px rgba(0, 0, 0, 0.81);
  border-radius: 20px;
  position: absolute;
  margin-left: 12.5vw;
  margin-top: 12.5vh;
  height: 75vh;
  width: 75vw;
}

.modal .modal-container .close-modal {
  position: relative;
  float: right;
  right: 1vw;
  top: 0.7vh;
  font-size: 2.5rem;
}

.modal .modal-container .title-modal {
  margin-top: 2vh;
  text-align: center;
  padding-left: 1vw;
  font-size: 1.5rem;
  font-family: Halyard;
  font-weight: 700;
  text-decoration: underline;
}

.modal .modal-container .modal-body {
  margin-top: -2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .modal-container .modal-body button {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  color: white;
  background-color: black;
  border-radius: 20px;
  font-family: Halyard;
  font-size: 1.8rem;
  padding: 1rem;
  border: none;
}

.modal .modal-container .modal-body button:hover {
  color: black;
  background-color: gray;
}

.modal .modal-container .modal-body .informationscontainer {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .modal-container .modal-body .informationscontainer h3 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 7%;
}

.modal .modal-container .modal-body .informationscontainer p {
  font-size: 1.5em;
  margin-right: 2vw;
  width: 30%;
  margin-left: 3vw;
}

.modal .modal-container .modal-body .informationscontainer input {
  border-radius: 5px;
  width: 10vw;
  height: 2.2vh;
}

.modal .modal-container .modal-body .informationscontainer select {
  border-radius: 5px;
  font-size: 1.2rem;
  border: 2px solid black;
  width: 10vw;
}

.modal .modal-container .modal-body .informationscontainer textarea {
  border-radius: 5px;
  border: 2px solid black;
  width: 10vw;
}

.modal .modal-container .modal-body .informationscontainer .modal-name, .modal .modal-container .modal-body .informationscontainer .modal-description, .modal .modal-container .modal-body .informationscontainer .modal-serie, .modal .modal-container .modal-body .informationscontainer .modal-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modal-container .modal-body .informationscontainer .modal-submit {
  text-align: center;
  margin-top: 5vh;
}

.modal .modal-container .modal-body .sizePrice {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .modal-container .modal-body .sizePrice h3 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3vh;
}

.modal .modal-container .modal-body .sizePrice span {
  display: inline-block;
  width: 30%;
  font-size: 1.5em;
  margin-right: 2vw;
  margin-left: 3vw;
}

.modal .modal-container .modal-body .sizePrice input {
  border-radius: 5px;
  height: 2.2vh;
}

.modal .modal-container .modal-body .sizePrice .pricecontainer {
  width: 100%;
  padding-top: 3vh;
}

.modal .modal-container .modal-body .sizePrice .pricecontainer .previewImage {
  text-align: center;
  position: relative;
}

.modal .modal-container .modal-body .sizePrice .pricecontainer .previewImage img {
  max-height: 30vh;
  margin-top: 3vh;
}

.modal .modal-container .modal-body .sizePrice .sizecontainer {
  width: 100%;
}
/*# sourceMappingURL=modal.css.map */