.navbar{
    position: absolute;
    z-index: 6;
    display: inline-flex;
    font-size: 2.5em;
    width: 100vw;
    font-family: Grotesque;
    mix-blend-mode: difference;

    
    .gestionLink{
        text-decoration: none;
        transition: 0.2s linear;
        &:hover{
            color: gray;
        }}
    .logo{
        text-align: center;
        margin: 2vw;
        font-weight: 700;
        line-height: 1.2em;
        display: block;
        width: 30vw;
        letter-spacing: 0em;
        font-size: 3.6rem;
        mix-blend-mode: difference;
        color: white;
        a{
            text-decoration: none;
            color: white;
        }
        h2{
            font-size: 1.2rem;
            margin-top: -1vh;
        }
    }
    .nav{
        position: absolute;
        right: 4%;
        top: 1%;
        display: inline-flex;
        font-size: 1.8rem;
        list-style: none;
        font-weight: 300;
        line-height: 1.6em;
        margin: 2.5vw;
        li{
            color: white;
            font-family: Halyard;
            padding-right: 0.6em;
            a{
                text-decoration: none;
                color: white;
                transition: 0.2s linear;
                &:hover{
                    color: gray;
                }
            }
            .logout{
                color: white;
                transition: 0.2s linear;
                &:hover{
                    color: gray;
                }
            }
        }
    }
} 
.cart-logo{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: black;
    right: 5%;
    bottom: 7%;
    a{
        text-decoration: none;
        .fa-shopping-cart{
            color: white;
            position: relative;
            display: flex;
            top: 25%;
            right: -17%;
            font-size: 3.5rem;
        }  
    }
     span{
         display: flex;
         position: relative;
         color: white;
         top: -52%;
         right: -75%;
         font-size: 1.2rem;
         font-family: Halyard;
     }
}


//AFFICHAGE DE LA VERSION MOBILE
.mobile-container{
.navbar-mobile{
    touch-action: manipulation;
    position: absolute;
    z-index: 4;
    height: 15vh;
    width: 100vw;
    
    .logo-mobile{
        position: absolute;
        z-index: 10;
        margin-top: 2vh;
        margin-left: 5vw;
        font-weight: 700;
        line-height: 1.2em;
        letter-spacing: 0em;
        font-size: 2rem;
        a{
            text-decoration: none;
            mix-blend-mode: difference;
            color: black;
        }
        h2{
            font-size: 1rem;
            margin-top: -1.5vh;
            margin-left: 14vw;
            color: black;
        }
    }
}

    li{
        font-family: Halyard;
        list-style: none;
        margin-bottom: 2.5vh;
        font-size: 2rem;
        a{
        color: black;
        text-decoration: none;
        }
    }

    .nav-mobile{
        transition: 0.2s linear;
        background-color: white;
        opacity: 0;
        height: 100vh;
        display: none;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        top: 0vh;
        left: 0;
        right: 0;
        text-align: center;
        padding-top: 35vh;
    
    

    .social-mobile{
        position: absolute;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        top: 75vh;
        left: 40vw;
        right: 0;
        text-align: center;
        li{
            font-size:1.7rem ;
            margin-right: 4vw;
        }
    }
}
    #menuToggle{
        display: block;
        position: absolute;
        top: 40px;
        right: 50px;
        z-index: 4;
        input{
          display: block;
          width: 40px;
          height: 32px;
          position: absolute;
          top: -7px;
          left: -5px;
          cursor: pointer;
          opacity: 0; /* hide this */
          z-index: 2; /* and place it over the hamburger */
          -webkit-touch-callout: none;
          
        }
        span{
            display: block;
            width: 40px;
            height: 2px;
            margin-bottom: 5px;
            position: relative;
            background: black;
            z-index: 1;
            transform-origin: 13px 0px;
            transition: transform 0.1s linear,
                }
                    }
            #menuToggle input:checked ~ span{
              opacity: 1;
              transform: rotate(-45deg) translate(-2px, -1px);
              background: #232323;
            }
            #menuToggle input:checked ~ span:nth-last-child(3){
              opacity: 0;
              transform: rotate(0deg) scale(0.2, 0.2);
            }
            #menuToggle input:checked ~ span:nth-last-child(2){
              transform: rotate(45deg) translate(0, -1px);
            }
}
