.navbar {
  position: absolute;
  z-index: 6;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 2.5em;
  width: 100vw;
  font-family: Grotesque;
  mix-blend-mode: difference;
}

.navbar .gestionLink {
  text-decoration: none;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.navbar .gestionLink:hover {
  color: gray;
}

.navbar .logo {
  margin: 2vw;
  font-weight: 700;
  line-height: 1.2em;
  display: block;
  width: 30vw;
  letter-spacing: 0em;
  font-size: 3.6rem;
  mix-blend-mode: difference;
  color: white;
}

.navbar .logo a {
  text-decoration: none;
  color: white;
}

.navbar .logo h2 {
  font-size: 1.5rem;
  margin-left: 9vw;
  margin-top: -1vh;
}

.navbar .nav {
  position: absolute;
  right: 4%;
  top: 1%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1.8rem;
  list-style: none;
  font-weight: 300;
  line-height: 1.6em;
  margin: 2.5vw;
}

.navbar .nav li {
  color: white;
  font-family: Halyard;
  padding-right: 0.6em;
}

.navbar .nav li a {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.navbar .nav li a:hover {
  color: gray;
}

.navbar .nav li .logout {
  color: white;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.navbar .nav li .logout:hover {
  color: gray;
}

.cart-logo {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: black;
  right: 5%;
  bottom: 7%;
}

.cart-logo a {
  text-decoration: none;
}

.cart-logo a .fa-shopping-cart {
  color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 25%;
  right: -17%;
  font-size: 3.5rem;
}

.cart-logo span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: white;
  top: -52%;
  right: -75%;
  font-size: 1.2rem;
  font-family: Halyard;
}

.mobile-container .navbar-mobile {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  position: absolute;
  z-index: 4;
  overflow: hidden;
  height: 15vh;
  width: 100vw;
}

.mobile-container .navbar-mobile .logo-mobile {
  position: absolute;
  z-index: 10;
  margin-top: 2vh;
  margin-left: 5vw;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: 0em;
  font-size: 2rem;
}

.mobile-container .navbar-mobile .logo-mobile a {
  text-decoration: none;
  color: black;
}

.mobile-container .navbar-mobile .logo-mobile h2 {
  font-size: 1rem;
  margin-top: -1.5vh;
  margin-left: 14vw;
}

.mobile-container li {
  font-family: Halyard;
  list-style: none;
  margin-bottom: 2.5vh;
  font-size: 2rem;
}

.mobile-container li a {
  color: black;
  text-decoration: none;
}

.mobile-container .nav-mobile {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  background-color: white;
  opacity: 0;
  height: 100vh;
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  top: 0vh;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 35vh;
}

.mobile-container .nav-mobile .social-mobile {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  top: 75vh;
  left: 40vw;
  right: 0;
  text-align: center;
}

.mobile-container .nav-mobile .social-mobile li {
  font-size: 1.7rem;
  margin-right: 4vw;
}

.mobile-container #menuToggle {
  display: block;
  position: absolute;
  top: 40px;
  right: 50px;
  z-index: 4;
}

.mobile-container #menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

.mobile-container #menuToggle span {
  display: block;
  width: 40px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: black;
  mix-blend-mode: difference;
  z-index: 1;
  -webkit-transform-origin: 13px 0px;
          transform-origin: 13px 0px;
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: -webkit-transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
}

.mobile-container #menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(-45deg) translate(-2px, -1px);
          transform: rotate(-45deg) translate(-2px, -1px);
  background: #232323;
}

.mobile-container #menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.mobile-container #menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(45deg) translate(0, -1px);
          transform: rotate(45deg) translate(0, -1px);
}
/*# sourceMappingURL=Header.css.map */