.navbar{
    position: absolute;
    z-index: 6;
    display: inline-flex;
    font-size: 2.5em;
    width: 100vw;
    font-family: Grotesque;
    mix-blend-mode: difference;

    .gestionLink{
        text-decoration: none;
        transition: 0.2s linear;
        &:hover{
            color: gray;
        }}

    .logo{
        margin: 2vw;
        font-weight: 700;
        line-height: 1.2em;
        letter-spacing: 0em;
        font-size: 3.6rem;
        mix-blend-mode: difference;
        color: white;
        a{
            text-decoration: none;
            color: white;
        }
    }

    .nav{
        position: absolute;
        right: 4%;
        top: 1%;
        display: inline-flex;
        font-size: 1.8rem;
        list-style: none;
        font-weight: 300;
        line-height: 1.6em;
        margin: 2.5vw;
        
        li{
            color: white;
            font-family: Halyard;
            padding-right: 0.6em;
            
            
            a{
                text-decoration: none;
                color: white;
                transition: 0.2s linear;
                &:hover{
                    color: gray;
                }
            }
            .logout{
                color: white;
                transition: 0.2s linear;
                &:hover{
                    color: gray;
                }
            }
        }
    }
} 
.cart-logo{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: black;
    right: 5%;
    bottom: 7%;
    a{
        text-decoration: none;
        .fa-shopping-cart{
            color: white;
            position: relative;
            display: flex;
            top: 25%;
            right: -17%;
            font-size: 3.5rem;
        }  
    }
     span{
         display: flex;
         position: relative;
         color: white;
         top: -52%;
         right: -75%;
         font-size: 1.2rem;
         font-family: Halyard;
     }
}