.artistMainPhoto{
    display: flex;
    font-family: Halyard;
    flex-direction: column;
    align-items: center;
    .texte-photos-main{
        h2{
            font-size: 6rem;
        }
        .photos-description{
            .descriptionPage{
                font-size: 2rem;
                margin-bottom: 5vh;
            }
        }
    }
    .product-grid-main{
        img{
            max-width: 90vw;
            max-height: 90vh;
            margin-bottom: 5vh;
        }
        .imageName{
            color: white;
            background-color: black;
            opacity: 0;
            position: relative;
            top: -15.5vh;
            height: 10vh;
            display: flex;
            align-items: center;
            justify-content: center;
            span{
                font-family: Halyard;
                font-size: 2rem;
            }
        }
    }
}



@media screen and (max-width: 890px) {

    .artistMainPhoto{
        display: flex;
        font-family: Halyard;
        flex-direction: column;
        align-items: center;
        .texte-photos-main{
            h2{
                font-size: 3.5rem;
            }
            .photos-description{
                .descriptionPage{
                    font-size: 1rem;
                    margin-bottom: 5vh;
                }
            }
        }
        .product-grid-main{
            img{
                max-width: 90vw;
                max-height: 90vh;
                margin-bottom: 5vh;
            }
        }
    }

}